@model ClientNS.Category
@{
    ViewData["Title"] = "Home Page";
}

    <form asp-action="getProducts" method="post">
        @foreach (var item in ViewBag.result)
        {
            <input asp-for="CategoryId" type="radio" value="@item.CategoryId" />@item.CategoryName
            <br/>
        }
        <input type="submit" value="Submit" class="btn btn-primary" />
    </form>

