
@{
    ViewBag.Title = "ForgotPassword";
}

<div class="form-horizontal" style="position: relative; top: 60px; left: 27rem;">

    @using (Html.BeginForm("ForgotPassword", "Account"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal" style="position: relative; top: 60px; left: 13rem;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-10">
                    <label class="active">User name</label>
                    <input type="text" placeholder="Enter user name" name="username" required/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" style="position: relative; right: 12rem;" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
    </div>
