
@{
    ViewBag.Title = "ErrorPage";
}

<body style="background-image:url(../../img/ErroPage.jpg);margin-top:76rem">
    @using (Html.BeginForm("Index", "Home"))
    {
    <input type="submit" style=" position: relative; bottom: 43rem; left: 50rem;" class="btn btn-danger" value="Back To HomePage"/>
    }
</body>
